$primary-color: #2A324B;
$secondary-color: #58699D;
$background-color: #E1E5EE;
$text-color: #2A324B;
$white: #fff;


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}


@import '../components/Layout/Layout.scss';
@import '../components/Nav/Nav.scss';
@import '../components/PageTitle/PageTitle.scss';
@import '../components/Resources/Resources.scss';