
body {
    font-family: 'Monsterrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E1E5EE; 
}

nav button {
    padding-bottom: 50px;
    padding-right: 50px;
    background-color: #2A324B; 
    color: #ffffff;
    border: none;
    padding: 20px 85px;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
}


nav button:hover {
    background-color: #fff; 
    color: #2A324B;
    
}

nav button.active {
    background-color: #fff; 
    color: #58699D; 
}


main {
    background-color: #fff;
    padding: 100px;
    margin: 100px;
    color: #2A324B; 
}
