.nav-container {
    padding: 10px;
    
    button {
      background-color: $primary-color;
      color: $white;
      border: none;
      padding: 20px 85px;
      margin: 5px;
      font-size: 15px;
      cursor: pointer;
      
      &:hover {
        background-color: $white;
        color: $primary-color;
      }
      
      &.active {
        background-color: $white;
        color: $secondary-color;
      }
    }
  }